PORT=3000

# Facebook
FACEBOOK_PAGE_ACCESS_TOKEN=
FACEBOOK_VERIFY_TOKEN=
FB_GRAPH_URL=https://graph.facebook.com/v21.0

# Instagram
INSTAGRAM_PAGE_ACCESS_TOKEN=
INSTAGRAM_VERIFY_TOKEN=
INSTAGRAM_REPLY_API_URL=

# Zalo
ZALO_BOT_TOKEN=
ZALO_BOT_SECRET_TOKEN=
ZALO_BOT_API_URL=https://bot-api.zaloplatforms.com

# OpenTelemetry
OTEL_SERVICE_NAME=integration_channel
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
